@model IEnumerable<PWEBAssignment.Models.Reservations>

@{
    ViewData["Title"] = "Company´s Reservations";
}

<h1>Company´s Reservations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientUser)
            </th>
	        <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
               Status
            </th>
	        <th></th>
	        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientUser.firstName)
	            @Html.DisplayFor(modelItem => item.ClientUser.lastName)
            </td>
	        <td>
		        @Html.DisplayFor(modelItem => item.Car.Model)
		         [@Html.DisplayFor(modelItem => item.Car.LicencePlate)]
	        </td>
            <td>
	            @item.DeliveryDate.ToString("dd/MM/yyyy")
            </td>
            <td>
	            @item.ReturnDate.ToString("dd/MM/yyyy")
            </td>
	        @if (item.DeliveryId == null)
                {
	                <td>Pending</td>
                }
                else if (item.DeliveryId != null && item.ReturnId == null)
                {
	                <td>Confirmed</td>
                }
                else
                {
	                <td>Closed</td>
                }
	       
	       
                @if (item.DeliveryId == null)
                {
	                <td>
		                <a asp-action="Deliver" asp-route-id="@item.Id">Deliver</a>

		                <a asp-action="Reject" asp-route-id="@item.Id">Reject</a>
	                </td>

                }
				@if (item.ConfirmReturn == true && item.ReturnId == null)
				{
					<td>
						<a asp-action="ReceiveCar" asp-route-id="@item.Id">Receive car</a>
					</td>
				}
                <td>
	                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
              
        </tr>
}
    </tbody>
</table>
