@model IEnumerable<PWEBAssignment.Models.Reservations>

@{
    ViewData["Title"] = "Company´s Reservations";
}

<div class="d-flex flex-grow-1 w-100 justify-content-between mb-5 ">
	<h1>Company´s Reservations</h1>
	<a class="btn btn-primary mt-3" asp-action="ManagerStatistics">Statistics</a>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientUser)
            </th>
	        <th>
		        @Html.DisplayNameFor(model => model.Car)
	        </th>
	        <th>
		        @Html.DisplayNameFor(model => model.ReservationDate)
	        </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
               Status
            </th>
	        <th></th>
	        <th></th>
	        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientUser.firstName)
	            @Html.DisplayFor(modelItem => item.ClientUser.lastName)
            </td>
	        <td>
		        @Html.DisplayFor(modelItem => item.Car.Model)
		        [@Html.DisplayFor(modelItem => item.Car.LicencePlate)]
	        </td>
	        <td>
		        @item.ReservationDate.ToString("dd/MM/yyyy")
	        </td>
            <td>
	            @item.DeliveryDate.ToString("dd/MM/yyyy")
            </td>
            <td>
	            @item.ReturnDate.ToString("dd/MM/yyyy")
            </td>
	        @if (item.DeliveryId == null && !item.Rejected)
            {
                <td>Pending</td>
            }
            else if (item.DeliveryId != null && item.ReturnId == null)
            {
	            <td>Confirmed</td>
	            <td></td>
	            <td></td>
            }
            else
            {
	            <td>Closed</td>
	            <td></td>
	            <td></td>
            }


            @if (item.DeliveryId == null && item.Rejected == false)
            {
                <td>
                        <a class="btn btn-primary  " asp-action="Deliver" asp-route-id="@item.Id">Deliver</a>
                </td>  
	        <td>
                        <a class="btn btn-danger " asp-action="Reject" class="reject" asp-route-id="@item.Id">Reject</a>
                </td>

            }
			@if (item.ConfirmReturn == true && item.ReturnId == null)
			{
				<td>
                        <a class="btn btn-primary  " asp-action="ReceiveCar" asp-route-id="@item.Id">Receive car</a>
				</td>
			}
	        
            <td>
                    <a class="btn btn-primary  " asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
