@model IEnumerable<PWEBAssignment.Models.Reservations>

@{
    ViewData["Title"] = "Company´s Reservations";
}

<h1>Company´s Reservations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientUser)
            </th>
	        <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientUser.firstName)
                    @Html.DisplayFor(modelItem => item.ClientUser.lastName)
            </td>
	        <td>
                @Html.DisplayFor(modelItem => item.Car.LicencePlate)
            </td>
            <td>
                @if (true)
                {
                    var newDate = item.DeliveryDate.ToString("dd/MM/yyyy");
                }
                 @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @if(true)
                {
                    var newDate = item.ReturnDate.ToString("dd/MM/yyyy");
                }
                 @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td> 
                
                @Html.DisplayFor(modelItem => item.ReturnId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryId)
            </td>
	       
                @if (item.DeliveryId == null)
                {
	                <td>
		                <a asp-action="Deliver" asp-route-id="@item.Id">Deliver</a>

		                <a asp-action="Reject" asp-route-id="@item.Id">Reject</a>
	                </td>

                }
				@if (item.ConfirmReturn == true)
				{
					<td>
						<a asp-action="ReceiveCar" asp-route-id="@item.Id">Receive car</a>
					</td>
				}
              
        </tr>
}
    </tbody>
</table>
