@model IEnumerable<PWEBAssignment.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-grow-1 w-100 justify-content-between">
<h1>Index</h1>

<p>
	<a class="btn btn-primary mt-2" asp-action="Create">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
		</svg>
		Create New
	</a>
</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
	        <th></th>
	        <th></th>
	        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
	        
	        <td>
		        @if (item.Available)
		        {
			        <a class="btn btn-primary"
			           asp-controller="Companies"
			           asp-action="ActivateCompany"
			           asp-route-id="@item.Id">Deactivate</a>
                    <p class="text-success">It is Activated</p>
		        }
		        else
		        {
			        <a class="btn btn-primary"
			           asp-controller="Companies"
			           asp-action="ActivateCompany"
			           asp-route-id="@item.Id">Activate</a>
			        <p class="text-danger">It is Deactivated</p>
		        }
		        <td>
                    <a class="btn btn-primary w-90" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                </td>
		        <td>
			        <a class="btn btn-primary w-90" asp-action="Details" asp-route-id="@item.Id">Details</a> 
		        </td>
		        <td>
                    <a class="btn btn-danger w-90" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
	        </td>
        </tr>
}
    </tbody>
</table>
