@model IEnumerable<PWEBAssignment.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
	        <th></th>
	        <th></th>
	        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
	        
	        <td>
		        @if (item.Available)
		        {
			        <a class="btn btn-primary"
			           asp-controller="Companies"
			           asp-action="ActivateCompany"
			           asp-route-id="@item.Id">Deactivate</a>
                    <p class="text-success">It is Activated</p>
		        }
		        else
		        {
			        <a class="btn btn-primary"
			           asp-controller="Companies"
			           asp-action="ActivateCompany"
			           asp-route-id="@item.Id">Activate</a>
			        <p class="text-danger">It is Deactivated</p>
		        }
		        <td>
                    <a class="btn btn-primary w-90" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                </td>
		        <td>
			        <a class="btn btn-primary w-90" asp-action="Details" asp-route-id="@item.Id">Details</a> 
		        </td>
		        <td>
                    <a class="btn btn-danger w-90" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
	        </td>
        </tr>
}
    </tbody>
</table>
