@model PWEBAssignment.Models.Reservations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservations</h4>
    <hr />
    <dl class="row">
	    <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.Company.Name)
	    </dd>
	    <dt class = "col-sm-2">
		    Company's Adress
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.Company.Address)
	    </dd>
	    <dt class = "col-sm-2">
		   Company's Rating
	    </dt>
	    <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Rating)
	    </dd>
        <dt class = "col-sm-2">
            Rented Car
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
            [@Html.DisplayFor(model => model.Car.LicencePlate)]
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
	    <dd class="col-sm-10">
			@Model.DeliveryDate.ToString("dd/MM/yyyy")
	    </dd>
	    <dt class="col-sm-2">
		 
		    @Html.DisplayNameFor(model => model.ReturnDate)
	    </dt>
	    <dd class = "col-sm-10">
		    @Model.ReturnDate.ToString("dd/MM/yyyy")
	    </dd>
	    <dt class="col-sm-2">
		    Cost
	    </dt>
	    <dd class = "col-sm-10">
			@Model.Price €
	    </dd>
    </dl>
</div>
<div>
	<a asp-action="Index">Back to List</a>
</div>
