@model IEnumerable<PWEBAssignment.Models.Reservations>

@{
    ViewData["Title"] = "My Reservations";
}

<h1>My Reservations</h1>

<table class="table table-hover table-striped ">
    <thead>
        <tr>
	        <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                Situation of Reservation
            </th>
            <th>
            </th>
            <th>
                Details
            </th>
	        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
	        <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            <td>
                    @item.DeliveryDate.ToString("dd/MM/yyyy")
            </td>
	        <td>
		        @item.ReturnDate.ToString("dd/MM/yyyy")
	        </td>
            @if (item.Rejected)
            {
	            <td> Not approved</td>

                    <td>   </td>
		            <td> Rejected by the Company</td>
	           
                
            }
            else
            {
	            @if(item.DeliveryId == null) 
	            {
		            <td> Pending</td>
		            <td>   </td>
	            } else {
		            <td>Confirmed</td> 
	            }
           
          
	            <td>   
		            @if(item.DeliveryId != null && !item.ConfirmReturn ) 
		            {
			            <td>
				            <a asp-action="Return" asp-route-id="@item.Id">Return</a>
			            </td>
		            }
		            else if(item.DeliveryId != null )
		            {
			            <td>Already Returned</td>
		            }
	            </td>
            }
	            <td>
		            <a asp-action="Details" asp-route-id="@item.Id">More</a>
	            </td>
          
        </tr>
}
    </tbody>
</table>
