@model IEnumerable<PWEBAssignment.Models.Reservations>

@{
    ViewData["Title"] = "My Reservations";
}

<h1>My Reservations</h1>

<div class="row">
    <div class="col-10">
        <h4>Filters:</h4>
        <form method="post">
            @if (User.IsInRole("Manager") || User.IsInRole("Employee"))
            {
                <label for="fname" class="control-label">Car´s Category</label>
                <select class="selection" name="CategoryID" asp-items="ViewBag.ListOfCategorys">
                    <option value="">Select Option</option>
                </select>
            
                <label for="fname" class="control-label">Delivery Date</label>
                <select name="DeliveryDate" asp-items="ViewBag.ListOfDeliveryDate">
                    <option value="">Select Option</option>
                </select>

                <label for="fname" class="control-label">Car´s Location</label>
                <select name="ReturnDate" asp-items="ViewBag.ListOfReturnDate">
                    <option value="">Select Option</option>
                </select>

                <label for="fname" class="control-label">Car´s Model</label>
                <select name="ModelID" asp-items="ViewBag.ListOfModels">
                    <option value="">Select Option</option>
                </select>

                <label for="fname" class="control-label">Client</label>
                <select name="ClientID" asp-items="ViewBag.ListOfClients">
                    <option value="">Select Option</option>
                </select>
            }

            <input class="btn btn-primary" type="submit" value="Search" />

        </form>
    </div>
</div>

<table class="table table-hover table-striped ">
    <thead>
        <tr>
	        <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                Situation of Reservation
            </th>
            <th>
            </th>
            <th>
                Description
            </th>
	        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
	        <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            <td>
                    @item.DeliveryDate.ToString("dd/MM/yyyy")
            </td>
	        <td>
		        @item.ReturnDate.ToString("dd/MM/yyyy")
	        </td>
            @if (item.Rejected)
            {
	            <td> Not approved</td>

                    <td>   </td>
		            <td> Rejected by the Company</td>
	           
                
            }
            else
            {
	            @if(item.DeliveryId == null) 
	            {
		            <td> Pending</td>
		            <td>   </td>
	            } else {
		            <td>Confirmed</td> 
	            }
           
          
	            <td>   
		            @if(item.DeliveryId != null && !item.ConfirmReturn ) 
		            {
			            <td>
                            <a class="btn btn-primary  " asp-action="Return" asp-route-id="@item.Id">Return</a>
			            </td>
		            }
		            else if(item.DeliveryId != null )
		            {
			            <td>Returned</td>
		            }
	            </td>
            }
	            <td>
                    <a class="btn btn-primary  " asp-action="Details" asp-route-id="@item.Id">Details</a>
	            </td>
          
        </tr>
}
    </tbody>
</table>
