@model IEnumerable<PWEBAssignment.Models.Reservations>

@{
    ViewData["Title"] = "My Reservations";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
	        <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                Situation of Reservation
            </th>
            <th>
                Return of the Car
            </th>
            <th>
                Details
            </th>
	        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
	        <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            <td>
                @if (true)
                {
                    var newDate = item.DeliveryDate.ToString("dd/MM/yyyy");
                }
                    @Html.DisplayFor(modelItem => item.DeliveryDate) 
            </td>
            <td>
                @if(true)
                {
                    var newDate = item.ReturnDate.ToString("dd/MM/yyyy");
                }
                    @Html.DisplayFor(modelItem => item.ReturnDate) 
            </td>
            @if(item.DeliveryId == null) 
            {
                <td> Pending</td>
            } else {
                <td>Confirmed</td> 
            }
            <td>   
                @if(item.DeliveryId != null && item.ReturnId == null) 
                {
                    <td>
                        <a asp-action="Return" asp-route-id="@item.Id">Return</a>
                    </td>
                }
                else if(item.DeliveryId != null && item.ReturnId != null)
                {
                    <td>Already Returned</td>
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
