@model IEnumerable<PWEBAssignment.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Cars</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-10">
        <h4>Filters:</h4>
        <form method="post">
                
           
            <label for="fname">Car´s Category</label>
            <select name="CategoryID" asp-items="ViewBag.ListOfCategorys"></select>
            <label for="fname">Car´s Company</label>
            <select name="CompanyID" asp-items="ViewBag.ListOfCompanys"></select>
            <label for="fname">Car´s Location</label>
            <input type="text" id="LocationOfCompany" name="LocationOfCompany" placeholder="Insert the location of the company">

            @*
            <label for="fname">Car´s Location</label>
            <select name="Adress" asp-items="ViewBag.ListOfAddresses"></select>
            *@
            <input type="submit" value="Search"/>

        </form>
    </div>
    <div class="col-10">
        <h4>Sort By:</h4>
        <form method="post">
                

            <input type="submit" value="Sort"/>

        </form>
    </div>
</div>
<br></br>


<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    @foreach (var car in Model)
    {
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">@car.Model</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">@car.Category.PriceHour€/Hour<small class="text-muted fw-light"></small></h1>
                    <p>@car.Category.Name</p>
                    <a asp-action="Details" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-outline-primary">Details</a>
                    <a asp-action="Buy" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-success">Rent</a>
                </div>
            </div>
        </div>
    }
</div>
@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicencePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Damage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.PriceHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicencePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
	        <td>
		        @Html.DisplayFor(modelItem => item.Category.PriceHour)€
	        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
	        <td>
		        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
		        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
		        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
	        </td>
        </tr>
}
    </tbody>
</table>
*@