@model IEnumerable<PWEBAssignment.Models.Car>

<div class="d-flex flex-grow-1 w-100 justify-content-between">
	<h1>
		Cars 
	</h1>

	@if (User.IsInRole("Employee") || User.IsInRole("Manager") || User.IsInRole("Admin"))
	{
		<p>

			<a class="btn btn-primary w-100 mt-3" asp-action="Create">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
				</svg>
				 Create New
			</a>
		</p>
	}
</div>
<h5>
    @ViewData["Title"]
</h5>



<div class="row">
    <div class="col-10">
        <h4>Filters:</h4>
        <form method="post">
            <label for="fname" class="control-label">Car´s Category</label>
            <select  class="selection"name="CategoryID" asp-items="ViewBag.ListOfCategorys">
                <option value="">Select Option</option>
            </select>
            @if (User.IsInRole("Client") || User.IsInRole("Admin") || !User.Identity.IsAuthenticated) {
            <label for="fname" class="control-label">Car´s Company</label>
            <select name="CompanyID" asp-items="ViewBag.ListOfCompanys">
                <option value="">Select Option</option>
            </select>
              
            <label for="fname" class="control-label">Car´s Location</label>
            <select name="Address" asp-items="ViewBag.ListOfAddresses">
                <option value="">Select Option</option>
            </select>
            }
            
            <input class="btn btn-primary" type="submit" value="Search"/>
                
        </form>
    </div>
    <div class="col-10">
        <h4>Order By: </h4>
        <a asp-action="Index" asp-route-order="">All</a> |
        <a asp-action="Index" asp-route-order="PriceLow2High">Price: Low to High</a> |
        <a asp-action="Index" asp-route-order="PriceHigh2Low">Price: High to Low</a> |
        @if (User.IsInRole("Client") || User.IsInRole("Admin") || !User.Identity.IsAuthenticated)
        {
            <a asp-action="Index" asp-route-order="RatingLow2High">Rating: Low to High</a>
        }
        
        @if (User.IsInRole("Client") || User.IsInRole("Admin") || !User.Identity.IsAuthenticated)
        {
            <a asp-action="Index" asp-route-order="RatingHigh2Low">Rating: High to Low</a>
        }
        
        @if(User.IsInRole("Manager") || User.IsInRole("Employee") || User.IsInRole("Admin")) 
        {
            <a asp-action="Index" asp-route-order="Available">Available Vehicles</a>
        }
        |
        @if(User.IsInRole("Manager") || User.IsInRole("Employee") || User.IsInRole("Admin")) 
        {
            <a asp-action="Index" asp-route-order="NotAvailale">Not Available Vehicles</a>
        }
    </div>
</div>

<br></br>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    @foreach (var car in Model)
    {
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
	            <div class="card-body">
		            <div class="card-header py-3 ">
                        @switch (car.Category.Name)
                        {
                            case "SPORT":
                                <object width="50" height="50" type="image/svg+xml" data="~/img/sports-car.svg"> </object>
	                            break;
                            case "SUV":
	                            <object width="50" height="50" type="image/svg+xml" data="~/img/suv-car.svg"> </object>
                                break;
	                        case "LIGHT":
		                        <object width="50" height="50" type="image/svg+xml" data="~/img/light-car.svg"> </object>
		                        break;
	                        case "MICRO":
		                        <object width="50" height="50" type="image/svg+xml" data="~/img/micro-car.svg"> </object>
		                        break;
	                        case "LUXURY":
		                        <object width="50" height="50" type="image/svg+xml" data="~/img/luxury-car.svg"> </object>
		                        break;
                        }
                        <h4 class="my-0 fw-normal">@car.Model</h4>
		            </div>
                    <h1 class="card-title pricing-card-title">@car.Category.PriceHour€/Day<small class="text-muted fw-light"></small></h1>
                    <p>Category: @car.Category.Name</p>
                    <p>Company´s Name: @car.Company.Name</p>
                    <p>Rating: @car.Company.Rating</p>
                    <p>Location: @car.Company.Address</p>
                    <a asp-action="Details" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-outline-primary">Details</a>
                    <br>
                    @if (User.IsInRole("Client"))
                    {
                        <a asp-controller="Reservations" asp-action="Create" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-success">Rent</a>
                    }
                    @if (User.IsInRole("Manager") || User.IsInRole("Employee") || User.IsInRole("Admin"))
                    {
                      
                        @if (@car.Available)
                        {
                            <a class="btn btn-primary btn-lg w-100"
                                asp-controller="Cars"
                                asp-action="ActivateCar"
                               asp-route-id="@car.Id">Make Unavailable</a>
								
                        }
                        else
                        {
                            <a class="btn btn-primary btn-lg w-100"
                               asp-controller="Cars"
                                asp-action="ActivateCar"
                                asp-route-id="@car.Id"> Make Available</a>
                            
                        }

                        
                        
	                    <a asp-action="Edit" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-primary">Edit</a>
	                    <a asp-action="Delete" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-danger">Delete</a>
                        
                    }
                   
                </div>
            </div>
        </div>
    }
</div>
@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicencePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Damage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.PriceHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicencePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
	        <td>
		        @Html.DisplayFor(modelItem => item.Category.PriceHour)€
	        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
	        <td>
		        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
		        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
		        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
	        </td>
        </tr>
}
    </tbody>
</table>
*@