@model IEnumerable<PWEBAssignment.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Cars</h1>

@if (User.IsInRole("Employee") || User.IsInRole("Manager") || User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
}

<div class="row">
    <div class="col-10">
        <h4>Filters:</h4>
        <form method="post">
            <label for="fname">Car´s Category</label>
            <select name="CategoryID" asp-items="ViewBag.ListOfCategorys"></select>
            <label for="fname">Car´s Company</label>
            <select name="CompanyID" asp-items="ViewBag.ListOfCompanys"></select>
                
            <label for="fname">Car´s Location</label>
            <select name="Adress" asp-items="ViewBag.ListOfAddresses"></select>
                
            <input type="submit" value="Search"/>

        </form>
    </div>
    <div class="col-10">
        <h4>Sort By:</h4>
        <a asp-action="Index" asp-route-sorts="0">All</a> |
        <a asp-action="Index" asp-route-sorts="1">Price: Low to High</a> |
        <a asp-action="Index" asp-route-sorts="2">Price: High to Low</a> |
        <a asp-action="Index" asp-route-sorts="3">Rating: Low to High</a> |
        <a asp-action="Index" asp-route-sorts="4">Rating: High to Low</a>

        @*
        <a asp-action="Index" asp-route-sorts="0">All</a> |
        <a asp-action="Index" asp-route-sorts="PriceLow2High">Price: Low to High</a> |
        <a asp-action="Index" asp-route-sorts="PriceHigh2Low">Price: High to Low</a> |
        <a asp-action="Index" asp-route-sorts="RatingLow2High">Rating: Low to High</a> |
        <a asp-action="Index" asp-route-sorts="RatingHigh2Low">Rating: High to Low</a>
        *@
    </div>
</div>

<br></br>


<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    @foreach (var car in Model)
    {
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                
                <div class="card-body">

                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">@car.Model</h4>
                    </div>
                    <h1 class="card-title pricing-card-title">@car.Category.PriceHour€/Hour<small class="text-muted fw-light"></small></h1>
                    <p>@car.Category.Name</p>
                    <p>@car.Company.Name || Avaliação: @car.Company.Rating</p>
                    <a asp-action="Details" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-outline-primary">Details</a>
                    <br>
                    @if (User.IsInRole("Client"))
                    {
                        <a asp-controller="Reservations" asp-action="Index" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-success">Rent</a>
                    }
                    @if (User.IsInRole("Manager") || User.IsInRole("Employee") || User.IsInRole("Admin"))
                    {
                        @if (@car.Available)
                        {
                            <a class="btn btn-primary"
                                asp-controller="Cars"
                                asp-action="ActivateCar"
                               asp-route-id="@car.Id">Make Unavailable</a>
								
                        }
                        else
                        {
                            <a class="btn btn-primary"
                               asp-controller="Cars"
                                asp-action="ActivateCar"
                                asp-route-id="@car.Id"> Make Available</a>
                            
                        }
                        <a asp-action="Delete" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-danger">Delete</a>
                        <br>
                        <a asp-action="Edit" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-success">Edit</a>
                        
                    }
                   
                </div>
            </div>
        </div>
    }
</div>
@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicencePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Damage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.PriceHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicencePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
	        <td>
		        @Html.DisplayFor(modelItem => item.Category.PriceHour)€
	        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
	        <td>
		        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
		        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
		        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
	        </td>
        </tr>
}
    </tbody>
</table>
*@