@model PWEBAssignment.Models.Reservations


@{
    ViewData["Title"] = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reservation</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@*
Items no carrinho: <span class="badge bg-secondary">@Model.TotalItems()</span>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Car</th>
            <th>Price per Hour</th>
            <th>Hours</th>
            <th>Sub-total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TotalItems() == 0)
        {
            <tr>
                <td colspan="4" class="text-danger">Não existem produtos no carrinho</td>
            </tr>
        }
        @foreach (var item in Model.items)
        {
            <tr>
                <th>@item.CursoNome</th>
                <th>@item.PrecoUnit</th>
                <th>@item.Quantidade</th>
                <th>@item.SubTotal()</th>
                <th>
                    <a asp-action="AlterarQuantidadeCarrinhoItem" asp-route-cursoId="@item.CursoId" asp-route-quantidade="-1">-</a> |
                    <a asp-action="AlterarQuantidadeCarrinhoItem" asp-route-cursoId="@item.CursoId" asp-route-quantidade="1">+</a> |
                    <a asp-action="RemoverCarrinhoItem" asp-route-cursoId="@item.CursoId" onclick="return confirm('Tem a certeza que deseja remover?')">Remover</a>
                </th>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.Total()</td>
        </tr>
    </tfoot>
</table>
<div class="row">
    <div class="col-12 text-end ">
        <a href="#" class="btn btn-primary">Continuar a Comprar</a>
        <a href="#" class="btn btn-success">Checkout</a>
    </div>
</div>*@