@model IEnumerable<PWEBAssignment.Models.Car>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="carouselDestaques" class="carousel slide m-0" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="0"
                class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="1" aria-
                label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="2" aria-
                label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active banner_01">
            <div class="container">
                <div class="carousel-caption">
                    
                </div>
            </div>
        </div>
        <div class="carousel-item banner_06">
            <div class="container">
                <div class="carousel-caption text-white">
                    
                </div>
            </div>
        </div>
        <div class="carousel-item banner_02">
            <div class="container">
                <div class="carousel-caption text-end">
                    
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDestaques"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDestaques"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container bg-white">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Rental4You</h1>
        <p class="fs-5 text-muted">
            In this site you can rent cars from a variety of categorys and companies. Start reservating the perfect car that suits you the best
        </p>
    </div>
    
@*
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        @foreach (var car in Model)
    {
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                
                <div class="card-body">

                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">@car.Model</h4>
                    </div>
                        <h1 class="card-title pricing-card-title">@car.Category.PriceHour€/Day<small class="text-muted fw-light"></small></h1>
                        <p>Category: @car.Category.Name</p>
                        <p>Company´s Name: @car.Company.Name</p>
                        <p>Rating: @car.Company.Rating</p>
                        <p>Location: @car.Company.Address</p>
                        <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-outline-primary">Details</a>
                        <br>
                        @if (User.IsInRole("Client"))
                        {
                            <a asp-controller="Reservations" asp-action="Index" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-success">Rent</a>
                        }
                    @if (User.IsInRole("Manager") || User.IsInRole("Employee") || User.IsInRole("Admin"))
                    {
                        @if (@car.Available)
                        {
                            <a class="btn btn-primary"
                                asp-controller="Cars"
                                asp-action="ActivateCar"
                               asp-route-id="@car.Id">Make Unavailable</a>
								
                        }
                        else
                        {
                            <a class="btn btn-primary"
                               asp-controller="Cars"
                                asp-action="ActivateCar"
                                asp-route-id="@car.Id"> Make Available</a>
                            
                        }
                        <a asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-danger">Delete</a>
                        <br>
                        <a asp-controller="Cars" asp-action="Edit" asp-route-id="@car.Id" class="w-100 btn btn-lg btn-success">Edit</a>
                    }
                </div>
            </div>
        </div>
    }
    </div>
</div>
*@

